//FONTS
@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('../fonts/gilroy/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semi Bold';
    src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}





//Font Variables
$heading: 'Gilroy Extra Bold', Helvetica, sans-serif;
$paragraph: 'Open Sans Semi Bold', Helvetica, sans-serif;

//Colour variables
$mainBlue: #3047d3;
$mainWhite: #FFFFFF;
$mainBlack: #000000;


//media query variables
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";

//resets
.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: $heading;
}
@media #{$desktop} {
.active_link {
  border: 1px solid $mainWhite;
}
}

.active_member {
  border: 1px solid $mainBlack;
}




//***************NAV/HEADER STYLING *************//
#main_nav {
  // border: 1px solid yellow;
  padding: 0;
}

#nav_toggle_but {
  // border: 1px solid green;
  width: 50%;
  right: 0;
  height: 100%;
  background-color: $mainBlue;
  border-radius: 0;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


#nav_brand_text {
  // border: 1px solid purple;
  width:50%;
  height: 100%;
  margin: 0;
  background-color: $mainBlack;
  color: $mainWhite;
  text-align: center;
}

#nav_content {
  position: absolute;
  z-index: 1;
  background-color: $mainBlack;
  opacity: 0.8;
  width:100%;
  height:100vh;
  top:0;
  padding-top: 100px;

  ul li {
  a {
    color: $mainWhite;
    text-align: center;
    font-size: 1.5em;

  }
}
button {
  background-color: transparent;
  color: transparent;
  border: none;
  padding-right: 30px;
}
}


@media #{$desktop} {

  #main_header {
    height: 500px;
    background-image: url('../img/banner.jpg');
    background-position: left bottom;
    text-align: center;
    color: $mainWhite;
    h2{
      margin-top: 100px;
      font-size: 2.5em;
    }
  }

  #main_nav {
    background-color: transparent;
  }

  #nav_content{
    background-color: transparent;
    position: static;
    height: auto;
    width: 100%;
    padding: 50px 40px 0 40px;
    opacity: 1;
    ul li a {
      font-size: 1.3em;
      color: $mainWhite;
      margin-right: 50px;
    }
  }
}


//***************SECTION 1 STYLING *************//


//*** HOME PAGE ***///

#section_one {
    display: table;
    width: 100%;

    .section_one_content {
      // vertical-align: middle;
      display: none;
    }
    #section_one_content_home{
      display: table-cell;
      background-color: $mainBlack;
    }

    p {
      font-family: $paragraph;
      color: $mainWhite;
    }
  }

  @media #{$desktop} {
    #section_one{
    height: 300px;
    display: table;
    .section_one_content {
      vertical-align: middle;
    }
    }
  }



//*** ABOUT PAGE ***///
#section_one_content_about {
// border: 2px solid orange;
  .figure {
    // border: 2px solid pink;
    text-align: center;
    margin: 50px 10px 0 10px;

  }
  .figure-img {
    // border: 2px solid purple;
    height: 70px;

  }
  .figure-caption {
    // border: 2px solid blue;
    text-align: center;
    font-family: $paragraph;
    color: $mainBlack;
    font-size: .65em;
    margin-top: 20px;
    padding: 10px;
  }

  #carly {
    .figure-caption {
      margin-top: 30px;
    }
  }
}

  @media #{$desktop}{
    #section_one_content_about {
      .figure{
        margin: 100px 100px 25px 100px;
      }
    .figure-img{
      height: 125px;
    }
    .figure-caption{
      font-size: .875em;
      padding: 20px;
    }
    #carly {
      .figure-caption {
          padding-top: 20px;
          margin-top: 30px;
      }
    }
  }
  }

  //*** CONTACT PAGE ***///
  #section_one_content_contact {
    padding: 40px;
    text-align: center;
    p {
      color: $mainBlack;
    }
  }



//***************SECTION 2 STYLING *************//

//*** HOME PAGE ***///
.section_two_content{
  display: none;
}

#section_two_content_home {
  display: block;
}


#section_two_header {
padding-top: 25px;
  h3 {
    color: $mainBlack;
    font-size: 1.4em;
  }
  .section_two_spec_title {
    color: $mainBlue;
    letter-spacing: .03em;
  }
  p {
    font-family: $paragraph;
    font-size: .75em;
    margin-top: 25px;
  }
}

#section_two_services_title {
  font-size: 1.4em;
  color: $mainBlack;
}

#services_icon_container {
  text-align: center;
  .figure-img {
    height: 150px;
    margin: 25px;
  }
  .figure-caption {
    color: $mainBlack;
    font-size: 1em;
  }
}

@media #{$desktop} {
  #section_two_header {
    padding-top: 50px;
    h3 {
      font-size: 2.2em;
    }
    p {
      font-size: 1em;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  #services_icon_container {
    text-align: left;
    .figure-caption {
      text-align: center;
    }
  }

}

//*** ABOUT PAGE ***///
#section_two_content_about {
  background-size: 0%;
  margin-top: 50px;
  margin-bottom: 75px;
  h3 {
    text-align: center;
    color: $mainBlack;
    font-size: 1.3em;
  }
  .about_name {
    color: $mainBlue;
    letter-spacing: .5px;
  }
  .about_desc {
    font-family: $paragraph;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: .6em;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    line-height: 15px;
  }
  h4 {
    color: $mainBlack;
    text-align: center;
    margin-bottom: 40px;
  }
  ul.tech_skills_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li.bullet {
    background: url('../img/bullet.png') no-repeat left top;
    height: 100px;
    padding-left: 44px;
    display: block;
    padding-top: 3px;
  }
  ul li {
    font-family: $paragraph;
    font-size: .75em;
  }

  #other_skills_con_carly {
    margin-bottom: 25px;
    .figure_con{
      text-align: center;
    }

  .figure {
    text-align: center;

  }
  .figure-img {
    height: 100px;
  }
  .figure-caption {
    text-align: center;
    font-family: $paragraph;
    color: $mainBlack;
    font-size: .75em;
    padding-top: 20px;
  }
}

#other_skills_con_jenn{
  padding-left:20px;
  margin-bottom: 25px;
  display: none;
  div{
  text-align: left;
  padding-bottom: 20px;
}
  h5 {
    color: $mainBlue;
    font-size: 2em;
    line-height: 1px;
    display: inline;
  }
  h6{
    font-size: 2em;
    display: inline;
  }
  p {
    font-family: $paragraph;
    font-size: .75em;
  }
}

#certification_con{
  padding:0;
  text-align: center;
  img {
    height: 100px;
  }
  p{
    font-family: $paragraph;
    font-size: .75em;
    padding-top: 20px;
    padding-bottom: 25px;
}
}
}

@media #{$desktop} {
  #section_two_content_about {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 100% 0;
    .about_desc {
      font-size: .875em;
      line-height: 25px;
      padding-top: 25px;
    }
    h4 {
      padding-top: 40px;
      padding-bottom: 40px;
    }ul li  {
      font-size: 1em;
    }

  #other_skills_con_jenn {
    div{
    text-align: center;
  }
    h5 {
      display: block;
      text-align: center;
    }
    h6{
      display: block;
      text-align: center;
    }
    .bar1, .bar2, .bar3{
      width: 5px;
      background-color: $mainBlue;
      margin: 0 auto;
    }
    .bar1{
      height: 150px;
    }
    .bar2 {
      height: 100px;
    }
    .bar3 {
      height: 50px;
    }
    p {
      font-size: 1em;
      text-align: center;
    }

  }

  #certification_con {
    .cert{
      text-align: left;
    }
  }
}
}

//*** ABOUT PAGE ***///

#section_two_content_contact {
  padding-bottom: 50px;
  text-align: center;
  .figure {
    padding-bottom: 20px;
  }
  img {
    height: 100px;
  }
  .figure-caption {
    font-family: $paragraph;
    color: $mainBlack;
    font-size: 1em;
    padding-top: 50px;
  }
}

@media #{$desktop} {
#section_two_content_contact {
  padding: 0;
}
}



//***************SECTION 3 STYLING *************//

@media #{$desktop} {
#section_three{
  background-color: $mainBlack;
  color: $mainWhite;
  margin-top: 50px;
  #section_three_content{
    padding-top: 75px;
    padding-bottom: 65px;
    h5{
      margin-bottom: 20px;
    }
    p {
      font-family: $paragraph;
      font-size: .75em;
      color: #a8a8a8;
      margin-bottom: 10px;
    }
  }
}


}


//***************FOOTER STYLING *************//

#main_footer {
  height: 100px;
  background-color: $mainBlack;
  text-align: center;
  margin-top:50px;
  margin-top: 0;
  p {
    color: $mainWhite;
    font-family: $paragraph;
    font-size: .75em;
    padding-top:37px;
  }
}

@media #{$desktop} {
  #main_footer {
    margin-top: 0;
    background-color: $mainBlue;
  }
}








//end styles
