//FONTS
@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('../fonts/gilroy/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semi Bold';
    src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}



//Font Variables
$heading: 'Gilroy Extra Bold', Helvetica, sans-serif;
$paragraph: 'Open Sans Semi Bold', Helvetica, sans-serif;

//Colour variables
$mainBlue: #3047d3;
$mainWhite: #FFFFFF;
$mainBlack: #000000;


//media query variables
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";

//resets
.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: $heading;
}


//***************NAV/HEADER STYLING *************//
#main_nav {
  // border: 1px solid yellow;
  padding: 0;
}

#nav_toggle_but {
  // border: 1px solid green;
  width: 50%;
  right: 0;
  height: 100%;
  background-color: $mainBlue;
  border-radius: 0;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


#nav_brand_text {
  // border: 1px solid purple;
  width:50%;
  height: 100%;
  margin: 0;
  background-color: $mainBlack;
  color: $mainWhite;
  text-align: center;
}

#nav_content {
  position: absolute;
  z-index: 1;
  background-color: $mainBlack;
  opacity: 0.8;
  width:100%;
  height:100vh;
  top:0;
  padding-top: 100px;
  ul li a {
    color: $mainWhite;
    text-align: center;
    font-size: 1.5em;
  }
}


@media #{$desktop} {

  #main_header {
    height: 375px;
    background-image: url('../img/temp_header_img.jpg');
    text-align: center;
    color: $mainWhite;
    h2{
      margin-top: 100px;
      font-size: 2.5em;
    }
  }

  #main_nav {
    background-color: transparent;
  }

  #nav_content{
    background-color: transparent;
    position: static;
    height: auto;
    width: 100%;
    padding: 50px 40px 0 40px;
    opacity: 1;
    ul li a {
      font-size: 1.3em;
      color: $mainWhite;
      margin-right: 50px;
    }
  }
}


//***************SECTION 1 STYLING *************//

@media #{$desktop} {
  #section_one {
    background-color: $mainBlack;
    height: 300px;
    display: table;
    width: 100%;
    .section_one_content {
      vertical-align: middle;
      display: none;
    }
    #section_one_content_home{
      display: table-cell;
    }
    p {
      font-family: $paragraph;
      color: $mainWhite;
    }
  }
}

//***************SECTION 2 STYLING *************//

#section_two_header {
padding-top: 25px;
  h3 {
    color: $mainBlack;
    font-size: 1.4em;
  }
  .section_two_spec_title {
    color: $mainBlue;
    letter-spacing: .03em;
  }
  p {
    font-family: $paragraph;
    font-size: .75em;
    margin-top: 25px;
  }
}

#section_two_services_title {
  font-size: 1.4em;
  color: $mainBlack;
}

#services_icon_container {
  text-align: center;
  .figure-caption {
    color: $mainBlack;
    font-size: 1em;
  }
}

@media #{$desktop} {
  #section_two_header {
    padding-top: 50px;
    h3 {
      font-size: 2.2em;
    }
    p {
      font-size: 1em;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  #services_icon_container {
    text-align: left;
    .figure-caption {
      text-align: center;
    }
  }

}



//***************SECTION 3 STYLING *************//

@media #{$desktop} {
#section_three{
  background-color: $mainBlack;
  color: $mainWhite;
  #section_three_content{
    padding-top: 75px;
    padding-bottom: 65px;
    h5{
      margin-bottom: 20px;
    }
    p {
      font-family: $paragraph;
      font-size: .75em;
      color: #a8a8a8;
      margin-bottom: 10px;
    }
  }
}


}


//***************FOOTER STYLING *************//

#main_footer {
  height: 100px;
  background-color: $mainBlack;
  text-align: center;
  p {
    color: $mainWhite;
    font-family: $paragraph;
    font-size: .75em;
    padding-top:37px;
  }
}

@media #{$desktop} {
  #main_footer {
    background-color: $mainBlue;
  }
}








//end styles
